#logo{
    margin-left:3%;
    width:40%;
    height:40%;
    
}
.navbar{
    height:10%;
}

#logo1{    
    margin-left:25%;    
}

p{
    position:absolute;
    right:4%;
    margin-top:0%;
    padding-top:0%;
}

#well1{
    margin-top:12%;
    margin-left:25%;
    box-shadow: 10px 10px 5px black;
    background-color: rgba(215,206,199,0.5);
    border: rgb(215,206,199);

}

#well2{
    margin-top:6%;
    padding-top:2%;
    background-color: rgba(215,206,199,0.5);
    border: rgb(215,206,199);
}

#login{
    margin-left:37%;
    margin-top:5%;
    margin-bottom:10%;
}

#info{
    position:absolute;
    bottom:1%;
    right:1%;
    
}